@charset "UTF-8";

/*******************************/
/****** Custom Properties ******/
/*******************************/

/***** Fonts *****/

:root {
	--iosevka-imnebuddy-monospace:             'Iosevka Imnebuddy', monospace;
	--tamzen-eight-by-sixteen-bold-monospace:  'Tamzen8x16b',       monospace;
}

/***** Colors *****/

/**** Values ****/

/*** Imnebuddy Color Scheme ***/

/** RGBA Compatible **/

@supports (background-color: rgba(0, 0, 0, 0)) and (color: rgba(0, 0, 0, 0)) {
	:root {
		/* Primary */
		--red:                          rgba(209,  13,  19, 1);
		--light-red:                    rgba(255,  16,  24, 1);
		/* Secondary */
		--sky-blue:                     rgba( 30, 202, 255, 1);
		--light-sky-blue:               rgba(105, 255, 255, 1);
		--turquoise:                    rgba( 36, 240, 152, 1);
		--light-turquoise:              rgba(108, 255, 204, 1);
		/* Tertiary */
		--blue-violet:                  rgba( 93,  55, 246, 1);
		--light-blue-violet:            rgba(155,  88, 255, 1);
		/* Quaternary */
		--dark-cool-grey:               rgba( 32,  35,  38, 1);
	}
}

/** HEX Fallback **/

@supports not ((background-color: rgba(0, 0, 0, 0)) or (color: rgba(0, 0, 0, 0))) {
	:root {
		/* Primary */
		--red:                          #D10D13;
		--light-red:                    #FF1018;
		/* Secondary */
		--sky-blue:                     #1ECAFF;
		--light-sky-blue:               #69FFFF;
		--turquoise:                    #24F098;
		--light-turquoise:              #6CFFCC;
		/* Tertiary */
		--blue-violet:                  #5D37F6;
		--light-blue-violet:            #9B58FF;
		/* Quaternary */
		--dark-cool-grey:               #202326;
	}
}

/*** Brands ***/

/** RGBA Compatible **/

@supports (background-color: rgba(0, 0, 0, 0)) and (color: rgba(0, 0, 0, 0)) {
	:root {
		/** Linux **/
		/* Arch */
		--arch-blue:            rgba( 23, 147, 209, 1);
		--arch-dark-grey:       rgba( 77,  77,  77, 1);
		/* Gentoo */
		--gentoo-purple:        rgba( 84,  73, 122, 1);
		--gentoo-grey:          rgba(221, 218, 236, 1);
		/** Social **/
		/* GitLab */
		--gitlab-orange:        rgba(252, 105,  38, 1);
		--gitlab-light-orange:  rgba(255, 156,  21, 1);
		/* LinkedIn */
		--linkedin-blue:        rgba( 10, 102, 194, 1);
		--linkedin-white:       rgba(255, 255, 255, 1);
		/** Topics **/
		/* DMACC */
		--dmacc-blue:           rgba(  0,  43,  92, 1);
		--dmacc-white:          rgba(255, 255, 255, 1);
		/* RISC-V */
		--risc-v-blue:          rgba( 40,  50, 114, 1);
		--risc-v-yellow-orange: rgba(245, 178,  27, 1);
	}
}

/** HEX Fallback **/

@supports not ((background-color: rgba(0, 0, 0, 0)) or (color: rgba(0, 0, 0, 0))) {
	:root {
		/** Linux **/
		/* Arch */
		--arch-blue:            #1793D1;
		--arch-dark-grey:       #4D4D4D;
		/* Gentoo */
		--gentoo-purple:        #54487A;
		/** Social **/
		/* GitLab */
		--gitlab-orange:        #FC6D26;
		--gitlab-light-orange:  #FF9C15;
		/* LinkedIn */
		--linkedin-blue:        #0A66C2;
		--linkedin-white:       #FFFFFF;
		/** Topics **/
		/* DMACC */
		--dmacc-blue:           #002B5C;
		--dmacc-white:          #FFFFFF;
		/* RISC-V */
		--risc-v-blue:          #283272;
		--risc-v-yellow-orange: #F5B21B;
	}
}

/**** Elements ****/

:root {
	/** Background **/
	--bg-dark:               var(--dark-cool-grey);
	/** Text **/
	--txt-primary:           var(--red);
	--txt-primary-hover:     var(--light-red);
	--txt-secondary:         var(--sky-blue);
	--txt-secondary-hover:   var(--light-sky-blue);
	/** Links **/
	/* Navigation */
	--nav-link:              var(--turquoise);
	--nav-link-hover:        var(--light-turquoise);
	--nav-link-active:       var(--blue-violet);
	--nav-link-active-hover: var(--light-blue-violet);
}

/***** Animations *****/

/**** Transitions ****/

/*** Properties ***/

:root {
	/** Text **/                font-family:"Roboto Condensed";
                src:url(data:application/font-woff;charset=utf-8;base64,your_base64_encoded_long_string) format("woff");
                font-weight:normal;font-style:normal;
	/* Color */
	--transition-color:  color       0.5s ease;
	/* Shadow */
	--transition-shadow: text-shadow 0.5s ease;
	/** Transform **/
	--transition-rotate: transform   2s   ease;
	--transition-scale:  transform   0.5s ease;
}

/*** Elements ***/

:root {
	/* Header */
	--transition-header-link:     var(--transition-color), var(--transition-scale);
	--transition-logo:            var(--transition-rotate);
	--transition-title:           var(--transition-color);
	/* Navigation */
	--transition-nav-link:        var(--transition-color), var(--transition-scale);
	/* Main */
	--transition-main-link:        var(--transition-color);
	--transition-main-shadow-link: var(--transition-color), var(--transition-shadow);
}

/**** Transforms ****/

:root {
	--rotate-logo:       rotate(360deg);
	--scale-social-link: scale(1.25);
	--scale-nav-link:    scale(1.25);
}

/************************/
/****** Background ******/
/************************/

/***** Colors *****/

/**** Dark ****/

.bg-dark {
	background-color: var(--bg-dark);
}

/******************/
/****** Font ******/
/******************/

/***** Families *****/

/**** Tamzen ****/

/*** Bold ***/

.fnt-tamzen8x16b-monospace {
	/* Font */
	font-family: var(--tamzen-eight-by-sixteen-bold-monospace);
}

/**** Iosevka Imnebuddy ****/

.fnt-iosevka-imnebuddy-monospace {
	/* Font */
	font-family: var(--iosevka-imnebuddy-monospace);
}

/******************/
/****** Text ******/
/******************/

/***** Colors *****/

/**** Primary ****/

.txt-primary {
	/* Text */
	color: var(--txt-primary);
}

/**** Secondary ****/

.txt-secondary {
	/* Text */
	color: var(--txt-secondary);
}

/************************/
/****** Containers ******/
/************************/

.container {
	/* Layout */
	display: flex;
}

.container.v-center {
	/* Layout */
	justify-content: center;
}

/*******************/
/****** Links ******/
/*******************/

a.link {
	/* Text */
	text-decoration: none;
}

/********************/
/****** Header ******/
/********************/

header .item {
	/* Spacing */
	margin: 8px;
}

/***** Logo *****/

#logo {
	/* Positioning */
	position: relative;
}

/**** Background Image ****/

#logo img.bg {
	/* Layout */
	display: block;
	/* Size */
	height: 200px;
	width:  200px;
	/* Animation */
	transition: var(--transition-logo);
}

#logo:hover img.bg {
	/* Animation */
	-moz-transform:    var(--rotate-logo);
	-ms-transform:     var(--rotate-logo);
	-o-transform:      var(--rotate-logo);
	-webkit-transform: var(--rotate-logo);
	transform:         var(--rotate-logo);
}

/**** Foreground Image ****/

#logo img.fg {
	/* Layout */
	display: block;
	/* Size */
	height: 200px;
	width:  200px;
	/* Positioning */
	position: absolute;
	top: 0;
}

/***** Title *****/

#title {
	/* Font */
	font-family: var(--iosevka-imnebuddy-monospace);
}

/**** Name ****/

#title #name {
	/* Text */
	color: var(--txt-secondary);
	/* Animation */
	transition:  var(--transition-title);
}

#title #name:hover {
	/* Text */
	color: var(--txt-secondary-hover);
}

/**** Description ****/

#title #description {
	/* Text */
	color: var(--txt-primary);
	/* Animation */
	transition:  var(--transition-title);
}

#title #description:hover {
	/* Text */
	color: var(--txt-primary-hover);
}

/***** Social Links *****/

#social a.link {
	/* Spacing */
	margin: 0 8px;
	/* Font */
	font-size: 1.125em;
	/* Animation */
	transition: var(--transition-header-link);
}

#social a.link:hover {
	/* Animation */
	-moz-transform:    var(--scale-social-link);
	-ms-transform:     var(--scale-social-link);
	-o-transform:      var(--scale-social-link);
	-webkit-transform: var(--scale-social-link);
	transform:         var(--scale-social-link);
}

/**** GitLab ****/

#social a.link#gitlab {
	/* Text */
	color: var(--gitlab-orange);
}

#social a.link#gitlab:hover {
	/* Text */
	color: var(--gitlab-light-orange);
}

/**** LinkedIn ****/

#social a.link#linkedin {
	/* Text */
	color: var(--linkedin-blue);
}

#social a.link#linkedin:hover {
	/* Text */
	color: var(--linkedin-white);
}

/***** Responsive Layout *****/

@media screen and (max-width: 720px) {
	header.container {
		/* Layout */
		align-items: center;
		flex-direction: column;
	}
	#title #name {
		/* Text */
		text-align: center;
	}
	#title #description {
		/* Text */
		text-align: center;
	}
}

/************************/
/****** Navigation ******/
/************************/

/***** Links *****/

nav a.link {
	/* Spacing */
	margin: 0 8px;
	/* Font */
	font-size: 1.25em;
	/* Text */
	color: var(--nav-link);
	/* Animation */
	transition: var(--transition-nav-link);
}

nav a.link:hover {
	/* Text */
	color: var(--nav-link-hover);
	/* Animation */
	transform:         var(--scale-nav-link);
	-moz-transform:    var(--scale-nav-link);
	-ms-transform:     var(--scale-nav-link);
	-o-transform:      var(--scale-nav-link);
	-webkit-transform: var(--scale-nav-link);
}

/**** Active ****/

nav a.link.active {
	/* Text */
	color: var(--nav-link-active);
}

nav a.link.active:hover {
	/* Text */
	color: var(--nav-link-active-hover);
}

/******************/
/****** Main ******/
/******************/

main.container {
	/* Spacing */
	margin: 8px;
}

/***** Wrappers *****/

div.wrapper {
	/* Font */
	font-size: 1.125em;
}

/**** Responsive Layout ****/

@media screen and (min-width: 720px) {
	div.wrapper {
		/* Size */
		max-width: 50%;
	}
}

@media screen and (max-width: 720px) {
	div.wrapper {
		/* Size */
		max-width: 95%;
	}
}

/***** Links *****/

/**** Topics ****/

/*** DMACC ***/

a.link#dmacc {
	/* Text */
	color: var(--dmacc-white);
	text-shadow: -1px 0 var(--dmacc-blue), 0 1px var(--dmacc-blue), -1px 1px var(--dmacc-blue);
	/* Animation */
	transition: var(--transition-main-shadow-link);
}

a.link#dmacc:hover {
	/* Text */
	color: var(--dmacc-blue);
	text-shadow: -1px 0 var(--dmacc-white), 0 1px var(--dmacc-white), -1px 1px var(--dmacc-white);
}

/*** RISC-V ***/

/** Spans **/

/* Primary */

a.link#risc-v span#risc-v-primary {
	/* Text */
	color: var(--risc-v-blue);
	/* Animation */
	transition: var(--transition-main-link);
}

a.link#risc-v:hover span#risc-v-primary {
	/* Text */
	color: var(--risc-v-yellow-orange);
}

/* Secondary */

a.link#risc-v span#risc-v-secondary {
	/* Text */
	color: var(--risc-v-yellow-orange);
	/* Animation */
	transition: var(--transition-main-link);
}

a.link#risc-v:hover span#risc-v-secondary {
	/* Text */
	color: var(--risc-v-blue);
}
